
<h1>New Post</h1>

<!-- Button that appears on the new_session page. Post a new session-->
<form action="<%= posts_url %>" method="POST">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" >

    <label>Title:
    <input type="text" name="post[title]" value="">
    </label>

    <label>URL (optional):
    <input type="text" name="post[url]" value="">
    </label>

    <label>Content (optional):
    <input type="text" name="post[content]" value="">
    </label>

    <input type="hidden" name="post[sub_id]" value="<%= @post.sub_id %>">



    <button type="submit">Create Post</button>
</form>